MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/ar_restaurant?appName=Cluster0
SESSION_SECRET=your_secret_session_key_here
ADMIN_PASSWORD_HASH=sha256_hash_of_admin_password_here
HF_TOKEN=your_huggingface_api_token_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
